/* css dedicado ao header */

header{
    width: 100%;
    padding: 28px 8%;

    /* para ficar na tela quando estiver passando */
    position: sticky;
    top: 0;
    background-color: var(--TSound-1);
    z-index: 3;
    
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo{
    font-size: 24px;
    color: var(--TSound-4);
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 48px;

}

.nav-itens a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-itens.active a {
    color: var(--TSound-Neutro-1);
    border-bottom: solid 3px var(--TSound-3);
}

#mobile-btn{
    display: none;
}

#mobile-menu {
    display: none;
}

/* Responsividade */

@media screen and (max-width : 1170px) {
    #nav-list,
    .navbar .btn-default {
        display: none;
    }

    #mobile-btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
     }

     #mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        

     }

     #mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
     }

     #mobile-nav-list .nav-itens{
        list-style : none;
        text-align: center;
     }
}