/* css dedicado ao header */

header {
    width: 100%;
    padding: 28px 8%;

    /* para ficar na tela quando estiver passando */
    position: sticky;
    top: 0;
    background-color: var(--TSound-1);
    z-index: 3;

}

header .buttons-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  

}



.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-logo {
    font-size: 24px;
    color: var(--TSound-4);
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;

}

/* Adicionando uma linha sob os itens da barra de navegação quando o mouse passa sobre eles */
/* Adicionando uma linha suave sob os itens da barra de navegação quando o mouse passa sobre eles */
/* Adicionando uma linha suave sob os itens da barra de navegação quando o mouse passa sobre eles */
.nav-itens a {
    text-decoration: none;
    color: var(--TSound-7);
    font-weight: 600;
    position: relative; /* Para posicionar o ::after corretamente */
    transition: ease-in-out .4s; /* Transição para o texto */
}

.nav-itens a:hover{
    color: white;
   
}



.nav-itens a::before {
    content: ""; /* Adicionando o elemento antes do link */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    left: 0; /* Começa do início do link */
    width: 0; /* Começa sem largura */
    bottom: -3px; /* Distância do link (altura da linha) */
    height: 3px; /* Altura da linha */
    background-color: transparent; /* Cor da linha inicialmente transparente */
    transition: width 0.4s ease-in-out; /* Transição para a largura da linha */
}

.nav-itens a:hover::before {
    width: 100%; /* Largura total do link ao passar o mouse */
    left: auto; /* Inverte o início para a direita */
    right: 0; /* Termina na direita */
    transition: width 0.4s ease-in-out; /* Transição para a largura da linha */
}

.nav-itens a::after {
    content: ""; /* Adicionando o elemento após o link */
    position: absolute; /* Posicionamento absoluto em relação ao link */
    left: 0; /* Começa do início do link */
    width: 0; /* Começa sem largura */
    bottom: -3px; /* Distância do link (altura da linha) */
    height: 3px; /* Altura da linha */
    background-color: var(--TSound-4); /* Cor da linha inicialmente transparente */
    transition: width 0.6s ease-in-out; /* Transição para a largura da linha */
}

.nav-itens a:hover::after {
    width: 100%; /* Largura total do link ao passar o mouse */
}






.nav-itens.active a {
    color: var(--TSound-Neutro-1);
    border-bottom: solid 3px var(--TSound-3);

}

#mobile-btn {
    display: none;
}

#mobile-menu {
    display: none;
}

/* Responsividade */

@media screen and (max-width : 1170px) {

    #nav-list,
    .navbar .btn-default {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    #mobile-nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile-nav-list .nav-itens {
        list-style: none;
        text-align: center;
    }
}