

/* .title-introducao{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}  */

.slide {
    width: 100vw;
    height: 72vh;
    background-color: var(--TSound-4);
  
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .slide article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 50%;
    margin: 5em;
  }
  
  .slide article h1 {
    margin: 0;
    font-size: 56px;
    color: var(--TSound-Neutro-1);
  }
  
  .slide article p {
    margin: 0;
    font-size: 24px;
    color: var(--TSound-Neutro-0);
  }
  
  .slide article button {
    margin-top: 1em;
    background-color: var(--TSound-Neutro-0);
    color: var(--TSound-1);
    width: 10em;
    height: 2em;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
  
    transition: ease-in-out 0.4s;
  }
  
  .slide article button:hover{
    background-color: var(--TSound-6);
    color: var(--TSound-Neutro-1);
    cursor: pointer;
  }
  
  .slide img {
    width: 22vw;
    border: var(--TSound-Neutro-0) 5px solid;
    border-radius: 50px;
    margin-right: 10em;
    object-fit: cover;
  }
  
  .carros .seta {
    width: 70px;
    border: none;
    margin: 3em;
  }
  
  
  
  .carousel {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;

    

    /* box-shadow: 0px 4px 8px 10px var(--TSound-6); */
    
  }
  
  .carousel-content {
    display: flex;
    align-items: center;
    width: 80vw;
    transition: transform 0.5s ease;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%; 
    
    text-align: center;
  }
  
  
  .prev, .next {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    background-color: var(--TSound-6);
    color: var(--TSound-Neutro-1);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 4vw;
    height: 4vh;
    z-index: 1;

    transition: ease-in-out .3s;

    
  }

  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .slide-indicators {
    text-align: center;
    margin-top: 10px;
  }
  
  .slide-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--GavaPurpleDark);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .slide-indicator.active {
    background-color: var(--GavaWhite);
  }